@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {


    .navBar{
        @apply block py-2 pr-4 pl-1 border-gray-700 text-gray-400 
    }

   .navBar:hover {
        @apply text-white bg-gray-700
    }    

    @screen md {
        .navBar:hover{
            @apply bg-transparent text-white
        }
        .navBar {
            @apply p-0
        }
    }

    .categories-bg{
       background-image: linear-gradient(theme('colors.slate.800/50%'),theme('colors.slate.800/50%')), url('/img/categories-bg.jpg');
       
    }

    html {
        scroll-behavior: smooth;
    }
    
    ::-webkit-scrollbar {
        width: 20px;
    }

    ::-webkit-scrollbar-thumb {
        background: #1f3b8a;
         
    }

        ::-webkit-scrollbar-track {
            background: #6c81bd;
        }
} 
